@import url('https://fonts.googleapis.com/css?family=Dosis:400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap');

html, body {
  overflow: hidden !important;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}